# python
__pycache__/

# environment and IDE
*/.DS_Store
.DS_Store
.github
*.env

#EmbeddingsDB, files and folders
.chroma/index/
chroma_logs.log
docs.index
faiss_store.pkl
processed/*
log/*
msg_log/*
text/*
.txt

# config
data/cfg/*
data/cfg/.*
