# python
__pycache__/
.ipynb_checkpoints

# environment and IDE
*/.DS_Store
.DS_Store
.github
*.env

# testing files
notebooks/
.ipynb
# old versions
arxiv/
leoarxiv/

#EmbeddingsDB, files and folders
.chroma/index/
chroma_logs.log
docs.index
faiss_store.pkl
*.pkl
processed/*
log/
msg_log/*

# config
data/cfg/*
data/cfg/.*
data/cfg/*.json
