

# python
__pycache__/

# IDE
*/.DS_Store
.DS_Store

# environment

# folders
processed/*
log/*

#EmbeddingsDB files and folders
.chroma/index/
chroma_logs.log
docs.index
faiss_store.pkl
msg_log/1094758337226215524.txt
